@model IEnumerable<WebBerber.Models.Operation>

<div class="row justify-content-center">
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var operation in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="mb-0">@operation.OperationName</h5>
                        <small class="text-muted">@operation.Duration dk</small>
                    </div>
                    <span class="fw-bold">@operation.Price ₺</span>
                </li>
            }
        </ul>
    </div>
</div>
