# Derleme çıktıları
/bin/
/obj/

# Kullanıcıya özel dosyalar
*.user
*.suo

# Geçici dosyalar
*.cache
*.editorconfig
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
staticwebassets/
refint/
ref/
scopedcss/
/WebBerber/obj/Release/net8.0
/.vs/WebBerber/FileContentIndex
/.vs
/WebBerber/.vs/WebBerber/FileContentIndex
/WebBerber/.vs/WebBerber/v17
