# Derleme çıktıları
/bin/
/obj/

# Kullanıcıya özel dosyalar
*.user
*.suo

# Geçici dosyalar
*.cache
*.editorconfig
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
staticwebassets/
refint/
ref/
scopedcss/
/WebBerber/obj/Release/net8.0
/.vs/WebBerber/FileContentIndex
/.vs
/WebBerber/.vs/WebBerber/FileContentIndex
/WebBerber/.vs/WebBerber/v17
/.vs/WebBerber/FileContentIndex/2e3a127e-5654-4dcc-85b4-c4732726104a.vsidx
/.vs/WebBerber/FileContentIndex/674627e3-a36c-460f-8c16-36a36af47a61.vsidx
/.vs/WebBerber/FileContentIndex/864be26f-ea67-4ced-901a-4cf9038cd916.vsidx
/.vs/WebBerber/FileContentIndex/a2741fa4-434b-4df9-9a66-669ff3b0a977.vsidx
/.vs/WebBerber/FileContentIndex/e1ff0c1b-85ed-47d3-8959-95ad3e88259e.vsidx
/.vs/WebBerber/v17/.suo
/.vs/WebBerber/v17/DocumentLayout.json
/WebBerber/obj/Debug/net8.0/project.razor.vs.bin
/WebBerber/obj/Debug/net8.0/WebBerber.AssemblyInfo.cs
/WebBerber/obj/Debug/net8.0/WebBerber.AssemblyInfoInputs.cache
/WebBerber/obj/Debug/net8.0/WebBerber.assets.cache
/WebBerber/obj/Debug/net8.0/WebBerber.GeneratedMSBuildEditorConfig.editorconfig
/WebBerber/obj/project.assets.json
/WebBerber/obj/project.nuget.cache
/WebBerber/obj/WebBerber.csproj.nuget.dgspec.json
/WebBerber/obj/WebBerber.csproj.nuget.g.props
/.vs/WebBerber/DesignTimeBuild/.dtbcache.v2
/WebBerber/appsettings.json
/WebBerber/bin/Debug/net8.0/WebBerber.dll
/WebBerber/bin/Debug/net8.0/WebBerber.exe
/WebBerber/bin/Debug/net8.0/WebBerber.pdb
/WebBerber/bin/Debug/net8.0/WebBerber.staticwebassets.runtime.json
/WebBerber/Migrations/20241204140302_afa.cs
/WebBerber/Migrations/20241204140302_afa.Designer.cs
/WebBerber/Migrations/20241209111421_fixemployee.cs
/WebBerber/Migrations/20241209111421_fixemployee.Designer.cs
/WebBerber/Migrations/AppDbContextModelSnapshot.cs
/WebBerber/obj/Debug/net8.0/apphost.exe
/WebBerber/obj/Debug/net8.0/ref/WebBerber.dll
/WebBerber/obj/Debug/net8.0/refint/WebBerber.dll
/WebBerber/obj/Debug/net8.0/staticwebassets.build.json
/WebBerber/obj/Debug/net8.0/staticwebassets.development.json
/WebBerber/obj/Debug/net8.0/staticwebassets.pack.json
/WebBerber/obj/Debug/net8.0/WebBerber.csproj.CoreCompileInputs.cache
/WebBerber/obj/Debug/net8.0/WebBerber.dll
/WebBerber/obj/Debug/net8.0/WebBerber.genruntimeconfig.cache
/WebBerber/obj/Debug/net8.0/WebBerber.pdb
/WebBerber/obj/Debug/net8.0/WebBerber.sourcelink.json
