@model WebBerber.Models.Appointment

@{
    ViewData["Title"] = "Randevu Al";
}

<h2>Randevu Al</h2>

<form method="post">
    <div>
        <label for="employee">Çalışan:</label>
        <select id="employee" name="EmployeeId" required>
            @foreach (var employee in ViewBag.Employee)
            {
                <option value="@employee.Id">@employee.Name</option>
            }
        </select>
    </div>
    <div>
        <label for="operation">İşlem:</label>
        <select id="operation" name="OperationId" required>
            @foreach (var operation in ViewBag.Operations)
            {
                <option value="@operation.Id">@operation.Name</option>
            }
        </select>
    </div>
    <div>
        <label for="startTime">Başlangıç Saati:</label>
        <input type="datetime-local" id="startTime" name="StartTime" required />
    </div>
    <button type="submit">Randevu Al</button>
</form>
