@model IEnumerable<WebBerber.Models.Shop>

@{
    ViewData["Title"] = "Mağaza Listesi";
}

<h2>Mağaza Listesi</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Adres</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shop in Model)
        {
            <tr>
                <td>@shop.Id</td>
                <td>@shop.ShopName</td>
                <td>@shop.Address</td>
            </tr>
        }
    </tbody>
</table>
