@model WebBerber.Models.Employee

@{
    ViewData["Title"] = "Çalışan Düzenle";
    Layout = "_AdminLayout";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary">Çalışan Düzenle</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <form asp-action="EditEmployee" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name">Çalışan Adı</label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Surname">Çalışan Soyadı</label>
            <input class="form-control" asp-for="Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Çalışan Email</label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Şifre</label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
</div>
