@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "_AdminLayout";
}

<h1 class="mt-4">Admin Paneline Hoş Geldiniz!</h1>
<p>Burada genel bilgileri görebilirsiniz. ÇALIŞAN İZLEME EKRANI EKLENECEK.</p>
