<section class="hero-section text-center py-5" style="background: linear-gradient(to bottom, #212529, #495057); color: white;">
    <div class="container">
        <h1 class="display-4" data-aos="fade-down">Uzman Kadromuz</h1>

    </div>
</section>
<div class="container mt-5">
    <!-- Mağaza Başlığı -->
    <h2 class="text-center mb-4">@ViewBag.ShopName</h2>
    <p class="text-center text-muted">@ViewBag.ShopAddress</p>

    <!-- Çalışanlar -->
    <div class="row g-4">
        @foreach (var employee in ViewBag.Employees as IEnumerable<WebBerber.Models.Employee>)
        {
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card shadow-lg rounded">
                    <!-- Çalışan İsmi (Başlık) -->
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title text-center">@employee.Name @employee.Surname</h5>
                    </div>

                    <!-- Çalışan Resmi -->
                    <img src="/photos/logo.png" alt="Logo"
                         alt="Çalışan Fotoğrafı"
                         class="card-img-top p-3 img-fluid"
                         style="height: 150px; object-fit: contain;" />

                    <!-- Çalışan Becerileri -->
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            @foreach (var operation in (ViewBag.EmployeeOperations as IEnumerable<WebBerber.Models.EmployeeOperation>)
                           .Where(eo => eo.EmployeeId == employee.Id)
                           .Join(ViewBag.Operations as IEnumerable<WebBerber.Models.Operation>,
                           eo => eo.OperationId,
                           o => o.Id,
                           (eo, o) => o.OperationName))
                            {
                                <span class="badge bg-secondary text-white px-4 py-2">
                                    <i class="fa-duotone fa-solid fa-star"></i>@operation
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
