@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Berber Randevu Uygulaması</h1>
    <h2>EREN</h2>
    <h2>YAĞMUR</h2>
    <h2>HANSEL</h2>
    <h4>10.12.2024</h4>
</div>
