@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Berber Randevu Uygulaması</h1>
    <h4>10.12.2024</h4>
    <h5>gitchanges</h5>
    <h5>gratel deneme</h5>

    <p>HANZEL DENEME</p>
</div>
